.pm-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  /* max-width: 900px; */
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.pm-form .form-label {
  font-weight: 500;
  color: #333;
  text-align: left;
  display: block;
}

.pm-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: left;
}

.delegate-title {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.delegate-subtitle {
  font-size: 16px;
  color: #7f8c8d;
  text-align: left;
  margin-bottom: 10px;
}

textarea.form-control {
  resize: none;
}